body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    gap: 50px;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: #ACD8FF;
    border-radius: 25px;
    border: 5px solid #0066FF;
    transition: 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 7px 5px rgba(0, 140, 255, 0.868);
    /*angka pertama jika "-" maka dikiri dan sebaliknya bayangannya, angka kedua jika "-" maka diatas bayangannya, angka ketiga untuk ukuran blur(makin tinggi makin blur), angka keempat(opsional) = ukuran bayangan*/ 
}


.box1:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 140, 255, 0.868);
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: #FFCCE6;
    border-radius: 25px;
    border: 5px solid #FF3399;
    position: relative;
}

.box2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #FF3399;
    border-radius: 2px;
    transition: width 0.4s ease;
}

.box2:hover::after {
    width: 100%;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: #CCFFCC;
    border-radius: 25px;
    border: 5px solid #33CC33;
    position: relative;
}

.box3::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: -10px;
    width: 0;
    height: 4px;
    background-color: #33CC33;
    border-radius: 2px;
    transition: width 0.4s ease;
    transform: translateX(50%);
}

.box3:hover::after {
    width: 100%;
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: #FFD580;
    border-radius: 25px;
    border: 5px solid #FF9900;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.929);
    opacity: 1;
    transition: opacity 1s ease 0.2s;
    border-radius: 20px;
    z-index: 1;;
}

.box4:hover::before {
    opacity: 0;
}

.hidden-msg {
    position: relative;
    color: #000000;
    font-size: 24px;
    font-style: italic;
    z-index: 2;
}